.headings {
    background-color: grey;
    color: purple;
}

div {
    border: 2px solid grey;
    padding: 5px;
}

#babyYoda {
    opacity: 1;
    transition: opacity 1s; 
 }
  
#babyYoda.fade {
    opacity: 0;
}

#scrollButton {
    background-color: grey;
    color: white;
    width: 150px;
    height: 75px;
    font-size: 25px;
}